@import '../styles/colors.scss';


main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width : 30%;
  background-color: #efefef;
  position: relative;

  header.main-header {
     background-color : #fff;
     height : 70px;
     border-left: 1px solid $border;
     border-right: 1px solid $border;
     border-bottom: 1px solid $border;
     display : flex;
     justify-content:flex-start;
     align-items:center;
     padding:.25rem .5rem;

     .name {
       margin-left: 15px;
       color: $primary;
     }
  }

  footer {
    height: 80px;
    // background : #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $border;
    
    .input-wrapper {
      display: flex;
      align-items:center;
      justify-content: center;
      height: 100%;
      width : 100%;
      
      form {
        width : 90%;
        display: flex;
        align-items:center;
        justify-content:flex-start;
        background : #fff;
        padding: 0 .5rem;
        border-radius: 10px;
        box-shadow: 0px 5px 5px $border;
        border: 1px solid $border;
        
      }
      
      span.input-attachment-logo{
        font-size: 1.5rem;
        color: $secondary;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
      input {
        border: none;
        outline: none;
        height: 40px;
        border-radius: 5px;
        background: $light;
        color: $secondary;
        padding-left: 5px;
        flex : 1;
        margin: 0 .5rem;
      }

      button[type="submit"] {
         padding: .5rem 1rem;
         background-color:transparent;
         border: none;
         outline :none;
         cursor: pointer;
         width: 80px;
         border-radius: 5px;
         
         .send-icon {
            color: $primary;
            font-size: 2rem;
         }

      }
    }
   
  }
}

// message styling 
div.message-container {
  padding: 1rem .5rem;
   ul {
    padding : 0;
   }

  

   .message-wrapper {
       display: flex;
       align-items:flex-end;
       margin: .5rem;
       
      .left-message , .right-message {
        padding: 0 1rem;
        border-radius: 10px;
        font-size: .75rem !important;
      }

      .left-message {
        background : rgb(255, 255, 255);
        margin-left: 10px;
        border-bottom-left-radius: 0;
        p  {
          color: rgb(113, 111, 111) !important;
        }
      }

      .right-message {
        background : rgb(75, 68, 255);
        border-bottom-right-radius: 0;
        margin-right: 10px;
        p {
          color: #fff !important;
        }
      }
   }  

  .left {
    justify-content: left;
  }
  
  .right {
    justify-content: right;
  }

   .frd_message {
      float : left;
      width : 100%;
   }

   .my_message {
     float : right;
   }
}