$bg-primary : #fcfcfc;
$primary : #4e4c4c;
$secondary : #c2c2c2;
$bg-secondary : rgb(19, 109, 244);
$text-secondary : rgb(19, 109, 244);
$border : rgb(245, 245, 245);
$message-color : #767272;
$light : #fff;
$font-md : .8rem;
$font-sm : .7rem;